* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #394459;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  min-height: 98.5vh;
  border: 8px solid #394459;
  margin: 5px;
  padding: 5px;
}
